section.box-typical.scrollable.srcollInit
	table.table.table-striped#users
		thead.thead-inverse
			tr
				th
				th ID
				th Nickname
				th Name
				th Root
				th IP
				th
				th
		tbody
			tr
				td &nbsp;
				td 5
				td
					strong PLauer
				td Paul Lauer
				td
					strong Admin
				td.light_gray 191.12.122.12
				td
					a.btn.btn-success.btn-sm(href="#")
						i.fa.fa-pencil
						|&nbsp;&nbsp;Edit
				td &nbsp;
			tr
				td &nbsp;
				td 123
				td
					strong Antonio
				td Antonio B
				td
					strong SEO
				td.light_gray 191.12.125.12
				td
					a.btn.btn-success.btn-sm(href="#")
						i.fa.fa-pencil
						|&nbsp;&nbsp;Edit
				td &nbsp;
			tr
				td &nbsp;
				td 4
				td
					strong Ignat
				td Ignat Ignatov
				td
					strong SEO
				td.light_gray 191.15.12.12
				td
					a.btn.btn-success.btn-sm(href="#")
						i.fa.fa-pencil
						|&nbsp;&nbsp;Edit
				td &nbsp;
			tr
				td &nbsp;
				td 111
				td
					strong Karolina
				td Karolina Stris
				td
					strong Moderator
				td.light_gray 191.12.121.12
				td
					a.btn.btn-success.btn-sm(href="#")
						i.fa.fa-pencil
						|&nbsp;&nbsp;Edit
				td &nbsp;
			tr
				td &nbsp;
				td 124
				td
					strong Hero
				td Nik Torvalds
				td
					strong Admin
				td.light_gray 191.12.12.12
				td
					a.btn.btn-success.btn-sm(href="#")
						i.fa.fa-pencil
						|&nbsp;&nbsp;Edit
				td &nbsp;
			tr
				td &nbsp;
				td 6
				td
					strong Monster
				td Adam Sworvalds
				td
					strong SEO
				td.light_gray 191.12.12.128
				td
					a.btn.btn-success.btn-sm(href="#")
						i.fa.fa-pencil
						|&nbsp;&nbsp;Edit
				td &nbsp;
	nav#paging-table.pagination-datatables.text-center