// Variables gray theme
//---------------------

$border-color-g: rgba(197,214,222,1);
$background-wrapper: #eceff4;

//header
$header-bg-g: rgba(255,255,255,1); // background left menu

// left-menu
$menu-bg-g: rgba(255,255,255,1); // background left menu
