script(src='js/jquery.min.js')
script(src='js/jquery.lazyload.min.js')
script(async, src='js/tether.min.js')
script(async, src='js/bootstrap.min.js')
script(async, src='js/wow.js')
//- script(src='js/jquery.scrollstop.min.js')
