header.d-flex.justify-content-between
	.pull-left.d-flex.align-items-center
		.logo-wrapper.d-flex.align-items-center
			a(href="/")
				img(src="images/tmp/logo.jpg")
		.menu-toggle-wrapper.d-flex.align-items-center.justify-content-end
			i.fa.fa-bars
	.float-right.d-flex.align-items-center
		// notify
		.notify-wrapper.new
			span.dropdown
				i.fa.fa-bell.dropdown-toggle#dropdownNotify(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
				.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownNotify")
					.list-item.title
						strong Notifycations
						span.count 2
					.list-item.scroll
						.list-group
							.list-group-item.list-group-item-action.flex-column.align-items-start
								.d-flex.w-100.justify-content-between
									h5 List group item heading
									small 3 days ago
									a.close(aria-label="Close")
										span(aria-hidden="true") &times;
								p.
									Donec id elit non mi porta gravida at eget metus.
								small Donec id elit non mi porta.
							.list-group-item.list-group-item-action.flex-column.align-items-start
								.d-flex.w-100.justify-content-between
									h5 List group item heading
									small 3 days ago
									a.close(aria-label="Close")
										span(aria-hidden="true") &times;
								p.
									Donec id elit non mi porta gravida at eget metus. 
								small Donec id elit non mi porta.
							.list-group-item.list-group-item-action.flex-column.align-items-start
								.d-flex.w-100.justify-content-between
									h5 List group item heading
									small 3 days ago
									a.close(aria-label="Close")
										span(aria-hidden="true") &times;
								p.
									Donec id elit non mi porta gravida at eget metus. 
								small Donec id elit non mi porta.
					.list-item.text-center
						a.clear_all Clear all
		// user wrapper
		.user-wrapper.d-flex.align-items-center.dropdown
			.dropdown-toggle#dropdownAvatar(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false").d-flex.align-items-center
				.avatar-wrapper
					img(src="images/tmp/no-image.gif")
			.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownAvatar")
				a(href="#").dropdown-item 
					i.fa.fa-user-circle
					|Profile
				a(href="#").dropdown-item
					i.fa.fa-cogs
					|Settings
				.dropdown-divider
				a(href="#").dropdown-item
					i.fa.fa-sign-out
					|Logout