// left menu
.left-menu
	.wrapper-list
		.item
			a(href="#")
				i.fa.fa-tachometer
				|Dashboard
		.item.purpure
			a(href="#")
				i.fa.fa-th-large
				|Modules
		.item.red
			a(href="#")
				i.fa.fa-th-list
				|Catalog
		.item.blue.active
			a(href="#")
				i.fa.fa-group
				|Users
		.item.green
			a(href="#")
				i.fa.fa-gear
				|Settings
